* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside,
main {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

button {
  cursor: pointer;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  border-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.container {
  min-width: 320px;
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 10px;
}

html {
  font-size: 16px;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  background: #dbdbdb;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 90px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #cfcccc;
}

.header__logo {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #3a3a3a;
  line-height: 3rem;
}

.header__hamburger {
  display: none;
  cursor: pointer;
}

.header__hamburger-line {
  width: 40px;
  border: 2px solid #3a3a3a;
  margin: 10px;
}

.header__menu > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
}

.header__menu > ul > li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header__menu-link {
  display: inline-block;
  color: #575757;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

.header__menu-link_active {
  color: #3a3a3a;
  background: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.header__menu-link:hover {
  color: #ffffff;
  background: #8f8f8f;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.breadcrumb__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  color: #494949;
  line-height: 1.4rem;
  margin: 1rem 0 3rem;
}

.breadcrumb__link {
  color: inherit;
}

.homework {
  min-height: 250px;
}

.homework__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.homework__heading {
  text-transform: uppercase;
  color: #494949;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 20px 0;
  text-align: center;
}

.homework__sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 0 10px #cfcccc;
          box-shadow: 0 0 10px #cfcccc;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 31%;
          flex: 1 0 31%;
  min-height: 250px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 15px;
  margin: 5px;
}

.homework__sub:hover {
  -webkit-box-shadow: 0 0 20px #363535;
          box-shadow: 0 0 20px #363535;
}

.homework__sub-heading {
  color: #494949;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.4rem;
  text-align: center;
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 10px;
}

.homework__sub-label {
  height: 30px;
  color: #494949;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.homework__sub-inout {
  color: inherit;
  height: 100%;
  text-align: center;
  border: 1px solid #dbdbdb;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.homework__sub-button {
  border: 1px solid #8f8f8f;
  padding: 8px 0;
  margin: 0 auto;
  min-width: 50%;
  text-align: center;
  background: #dbdbdb;
  color: #575757;
  font-size: 1rem;
}

.homework__sub-button:hover {
  color: #ffffff;
  background: #494949;
}

.homework__sub-text {
  font-size: 1rem;
  color: #494949;
  margin: 5px 0;
  line-height: 1.2rem;
}

#i1_5 {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 64.5%;
          flex: 1 0 64.5%;
}

.footer {
  background: #3a3a3a;
}

.footer__container {
  color: #dbdbdb;
  margin-top: 40px;
  padding: 15px 10px;
  text-align: center;
  line-height: 1.5rem;
}

@media screen and (max-width: 900px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 765px) {
  .header__top {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .homework__sub {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 48%;
            flex: 1 0 48%;
  }
}

@media screen and (max-width: 540px) {
  .header__top {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__logo {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
  .header #hamburger {
    display: inline-block;
    position: relative;
  }
  .header #hamburger.open .header__hamburger-line-2 {
    border-color: #dbdbdb;
  }
  .header #hamburger.open .header__hamburger-line-1 {
    -webkit-transform: rotate(45grad) translate(9px, 11px);
            transform: rotate(45grad) translate(9px, 11px);
  }
  .header #hamburger.open .header__hamburger-line-3 {
    -webkit-transform: rotate(-45grad) translate(9px, -11px);
            transform: rotate(-45grad) translate(9px, -11px);
  }
  .header__menu {
    display: none;
  }
  .header__menu-link {
    padding: 10px 20px;
  }
  .header__menu-link:hover {
    border-radius: 0px;
  }
  .header__menu > ul {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 10;
    right: 10px;
    top: 90px;
    background: white;
    margin: 0;
    border: 1px solid  #cfcccc;
    border-top: none;
  }
  .header__menu.mainMenuOpen {
    display: block;
  }
  .homework__sub {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 90%;
            flex: 1 0 90%;
  }
}
/*# sourceMappingURL=main.css.map */