* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside,
main {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

button {
  cursor: pointer;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  border-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.container {
  min-width: 380px;
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 10px;
}

html {
  font-size: 16px;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  background: #dbdbdb;
}
.header__top {
  display: flex;
  align-items: center;
  min-height: 90px;
  border-bottom: 1px solid #cfcccc;
}
.header__logo {
  color: #3a3a3a;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 3rem;
}
.header__hamburger {
  display: none;
  cursor: pointer;
}
.header__hamburger-line {
  width: 40px;
  border: 2px solid #3a3a3a;
  margin: 10px;
}
.header__menu > ul {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.header__menu > ul > li {
  flex: 1;
}
.header__menu-link {
  display: inline-block;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
  color: #575757;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.5s ease, color 0.3s ease, border-top-left-radius 0.5s ease, border-top-right-radius 0.5s ease;
}
.header__menu-link_active {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #3a3a3a;
  background: white;
}
.header__menu-link:hover {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #ffffff;
  background: #8f8f8f;
}

.breadcrumb__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem auto 3rem;
  font-size: 1.2rem;
  color: #494949;
  line-height: 1.4rem;
}
.breadcrumb__link {
  color: inherit;
}

.homework {
  min-height: 250px;
}
.homework__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.homework__heading {
  text-transform: uppercase;
  color: #494949;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 20px 0;
  text-align: center;
}
.homework__sub {
  flex: 1 0 31%;
  display: flex;
  flex-direction: column;
  min-height: 250px;
  padding: 15px;
  margin: 5px;
  box-shadow: 0 0 10px #cfcccc;
  transition: box-shadow 0.5s ease;
}
.homework__sub:hover {
  box-shadow: 0 0 20px #363535;
}
.homework__sub-heading {
  color: #494949;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.4rem;
  text-align: center;
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 10px;
  margin-bottom: 5px;
}
.homework__sub-label {
  min-height: 30px;
  color: #494949;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}
.homework__sub-inout {
  color: inherit;
  height: 100%;
  text-align: center;
  border: 1px solid #dbdbdb;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.homework__sub-check {
  color: #494949;
  margin: 5px 10px 5px 0;
  flex: 0 0 50%;
}
.homework__sub-check-radio {
  color: inherit;
}
.homework__sub-check-box {
  display: flex;
}
.homework__sub-button {
  border: 1px solid #8f8f8f;
  min-width: 50%;
  margin: 5px auto;
  padding: 8px 0;
  text-align: center;
  background: #dbdbdb;
  color: #575757;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.5s ease, color 0.3s ease;
}
.homework__sub-button:hover {
  color: #ffffff;
  background: #494949;
}
.homework__sub-button-5 {
  min-width: 25%;
  max-width: 30%;
  margin: 5px;
}
.homework__sub-button_group {
  display: flex;
  margin: 20px 0;
}
.homework__sub-text {
  font-size: 1rem;
  color: #494949;
  margin: 5px 0;
  line-height: 1.2rem;
}
.homework__sub-table {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  font-size: 0.9rem;
  line-height: 1.1rem;
  color: #494949;
  margin: 10px 0;
}

#i1_5,
#i2_1,
#i3_2 {
  flex: 1 0 64.5%;
}

.wide {
  height: auto;
  min-height: 30px;
  padding: 8px;
  line-height: 1.2rem;
}

.footer {
  background: #3a3a3a;
}
.footer__container {
  color: #dbdbdb;
  margin-top: 40px;
  padding: 15px 10px;
  text-align: center;
  line-height: 1.5rem;
}

.chess__box {
  display: grid;
  grid-template-columns: 2rem repeat(8, 6rem) 2rem;
  grid-template-rows: 2rem repeat(8, 6rem) 2rem;
  grid-gap: 1px;
  margin: 30px 0;
}
.chess__cell {
  border: 1px solid #575757;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #494949;
  font-size: 1rem;
  line-height: 1.3rem;
  text-align: center;
}
.chess__cell_figure-font {
  font-size: 5rem;
}
.chess__cell_black {
  background: #b9b9b9;
}
.chess__cell_rotated {
  transform: rotate(180deg);
}
.chess__cell_caption {
  text-transform: uppercase;
  font-weight: 700;
}

.gallery {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.gallery__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  background: white;
}
.gallery__top:hover {
  border-radius: 10px;
}
.gallery__top_cart {
  border: 1px solid #e97171;
  width: 300px;
  padding: 15px;
  display: flex;
  justify-content: center;
  color: #e97171;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 20px;
  transition: all 0.5s ease;
}
.gallery__top_cart:hover {
  color: #ffffff;
  background: #e97171;
}
.gallery__top_cart-goto {
  margin: 0;
  padding: 8px 12px;
  max-width: 190px;
  line-height: 1.2rem;
  align-self: flex-end;
  text-align: center;
  border-radius: 20px;
  position: relative;
}
.gallery__top_cart-goto-after {
  position: absolute;
  right: -10px;
  top: -15px;
  background: #e97171;
  color: #ffffff;
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 50%;
  text-align: center;
}
.gallery__top_cart-form {
  position: absolute;
  right: 0;
  top: 50px;
  width: 300px;
  border: 1px solid #cfcccc;
  border-radius: 5px;
  z-index: 10;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 0 20px #b9b9b9;
  color: #575757;
  line-height: 1.2rem;
}
.gallery__top_cart-form-caption {
  text-align: center;
  text-transform: uppercase;
  color: #494949;
  font-size: 1.1rem;
  font-weight: 600;
}
.gallery__top_cart-form-total {
  text-transform: uppercase;
  color: #e97171;
  font-size: 1rem;
  font-weight: 600;
  text-align: right;
}
.gallery__top_cart-form-buy {
  background: #e97171;
  color: #ffffff;
  padding: 7px 0;
  display: inline-block;
  text-align: center;
  width: 40%;
  cursor: pointer;
  margin-top: 15px;
  transition: transform 0.2s linear;
}
.gallery__top_cart-form-buy:hover {
  transform: scale(1.05);
}
.gallery__top_cart-form-item {
  padding: 20px 0;
  display: grid;
  grid-template-columns: 1fr 20% 10% 20%;
  grid-template-rows: 25px;
  grid-auto-rows: 25px;
  align-items: center;
  color: #494949;
  text-transform: uppercase;
}
.gallery__top_caption {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  color: #575757;
  font-size: 2rem;
  font-weight: 700;
}
.gallery__top_price {
  text-align: center;
  margin-bottom: 20px;
  color: #e97171;
  font-size: 1.5rem;
  font-weight: 700;
}
.gallery__top img {
  width: 75%;
}
.gallery__bottom {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
.gallery__bottom_heading {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  color: #575757;
  font-size: 1rem;
  font-weight: 700;
}
.gallery__bottom_icon {
  padding: 5%;
  cursor: pointer;
  transition: 0.5s ease;
}
.gallery__bottom_icon img {
  max-width: 200px;
  width: 100%;
}
.gallery__bottom_icon:hover {
  background: white;
  filter: brightness(70%);
  border-radius: 30px;
}
.gallery__bottom_price {
  text-align: right;
  margin-top: 20px;
  color: #e97171;
  font-size: 1rem;
  font-weight: 700;
  margin-right: 30px;
}

@media screen and (max-width: 900px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 765px) {
  .header__top {
    justify-content: center;
  }

  .homework__sub {
    flex: 1 0 48%;
  }

  .chess__box {
    grid-template-columns: 1.2rem repeat(8, 4rem) 1.2rem;
    grid-template-rows: 1.2rem repeat(8, 4rem) 1.2rem;
  }
  .chess__cell_figure-font {
    font-size: 4rem;
  }
}
@media screen and (max-width: 540px) {
  .header__top {
    justify-content: space-between;
  }
  .header__logo {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
  .header #hamburger {
    display: inline-block;
    position: relative;
  }
  .header #hamburger.open .header__hamburger-line-2 {
    border-color: #dbdbdb;
  }
  .header #hamburger.open .header__hamburger-line-1 {
    transform: rotate(45grad) translate(9px, 11px);
  }
  .header #hamburger.open .header__hamburger-line-3 {
    transform: rotate(-45grad) translate(9px, -11px);
  }
  .header__menu {
    display: none;
    opacity: 0;
  }
  .header__menu-link {
    padding: 10px 20px;
  }
  .header__menu-link:hover {
    border-radius: 0px;
  }
  .header__menu > ul {
    position: absolute;
    flex-direction: column;
    z-index: 10;
    right: 10px;
    top: 90px;
    background: white;
    margin: 0;
    border: 1px solid #cfcccc;
    border-top: none;
  }
  .header__menu.mainMenuOpen {
    display: block;
    opacity: 1;
  }

  .homework__sub {
    flex: 1 0 90%;
  }
  .homework__sub-button-5 {
    font-size: 0.8rem;
  }

  .chess__box {
    grid-template-columns: 1.2rem repeat(8, 3rem) 1.2rem;
    grid-template-rows: 1.2rem repeat(8, 3rem) 1.2rem;
  }
  .chess__cell {
    font-size: 0.8rem;
    line-height: 1rem;
  }
  .chess__cell_figure-font {
    font-size: 3rem;
  }
}/*# sourceMappingURL=main.css.map */